@model MumbaiMallLibrary.ScreenHall

@{
    ViewBag.Title = "Create";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Mall of Mumbai Website</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/form-style.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Assets/Admin/dist/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/Assets/Admin/src/assets/demo/chart-area-demo.js"></script>
    <script src="~/Assets/Admin/src/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/Assets/Admin/src/assets/demo/datatables-demo.js"></script>
</head>
<body>
    <div id="form-info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 title bg-portgore">
                    <div class="title-text">
                        <h1><span></span>Screen Hall</h1>
                    </div>
                </div>
                <div class="col-12 form-wrapper screen-info">
                    <form id="screen-info" action="#" style="width: 100%">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-details form-group">
                                        <input type="number" name="id" value="" hidden>
                                        <div>
                                            <label for="screennName">Name:</label>
                                            <input type="text" name="screennName" class="form-control input-outline-bottom" placeholder="Name" value="">
                                        </div>
                                        <div>
                                            <label for="seatQty">Seat Quantity:</label>
                                            <input type="number" name="seatQty" class="form-control input-outline-bottom" placeholder="Number of seats" value="">
                                        </div>
                                        <div class="provider-list dropdown">
                                            <div>
                                                <label for="providerId">Providers: </label>
                                            </div>
                                            <button type="button" class="btn btn-outline-bottom dropdown-toggle unselected" data-toggle="dropdown">
                                                <span id="selected">Select a provider</span><span class="caret"></span>
                                            </button>
                                            <div class="provider-menu action-drop dropdown-menu">
                                                <a class="dropdown-item" href="#" data-id="1">Vox</a>
                                            </div>
                                            <input type="number" name="providerId" value="" hidden>
                                        </div>
                                        <div class="open-close">
                                            <div class="day-drop dropdown">
                                                <div>
                                                    <label>From Day: </label>
                                                </div>
                                                <button type="button" class="btn btn-outline-bottom dropdown-toggle unselected" data-toggle="dropdown">
                                                    <span id="selected">Select a day</span><span class="caret"></span>
                                                </button>
                                                <div class="day-menu action-drop dropdown-menu">
                                                    <a class="dropdown-item" href="#" data-id="1">Sunday</a>
                                                    <a class="dropdown-item" href="#" data-id="2">Monday</a>
                                                    <a class="dropdown-item" href="#" data-id="3">Tuesday</a>
                                                    <a class="dropdown-item" href="#" data-id="4">Wednesday</a>
                                                    <a class="dropdown-item" href="#" data-id="5">Thursday</a>
                                                    <a class="dropdown-item" href="#" data-id="6">Friday</a>
                                                    <a class="dropdown-item" href="#" data-id="7">Saturday</a>
                                                </div>
                                            </div>
                                            <div class="day-drop dropdown">
                                                <div>
                                                    <label>To Day: </label>
                                                </div>
                                                <button type="button" class="btn btn-outline-bottom dropdown-toggle unselected" data-toggle="dropdown">
                                                    <span id="selected">Select a day</span><span class="caret"></span>
                                                </button>
                                                <div class="day-menu action-drop dropdown-menu">
                                                    <a class="dropdown-item" href="#" data-id="1">Sunday</a>
                                                    <a class="dropdown-item" href="#" data-id="2">Monday</a>
                                                    <a class="dropdown-item" href="#" data-id="3">Tuesday</a>
                                                    <a class="dropdown-item" href="#" data-id="4">Wednesday</a>
                                                    <a class="dropdown-item" href="#" data-id="5">Thursday</a>
                                                    <a class="dropdown-item" href="#" data-id="6">Friday</a>
                                                    <a class="dropdown-item" href="#" data-id="7">Saturday</a>
                                                </div>
                                            </div>
                                            <input type="number" name="fromDay" value="" hidden>
                                            <input type="number" name="toDay" value="" hidden>
                                        </div>
                                        <div class="open-close">
                                            <div>
                                                <label for="opened">Opened hour:</label>
                                                <input class="form-control open-close-time" type="time" name="opened" value="">
                                            </div>
                                            <div>
                                                <label for="closed">Closed hour:</label>
                                                <input class="form-control open-close-time" type="time" name="closed" value="">
                                            </div>
                                        </div>
                                        <div class="submit-area">
                                            <button type="submit" class="btn btn-portgore">Proceed</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="offset-1"></div>
                                <div class="col-5">
                                    <div class="form-group form-details">
                                        <div>
                                            <label for="avatar">Avatar:</label>
                                            <input style="width: 300px" name="files" id="files" type="file" multiple="multiple" />
                                        </div>
                                        <input type="text" name="avatar" class="form-control input-outline-bottom" value="" hidden>
                                        <div>
                                            <ul id="obj-avatar" class="obj-avatar">
                                                <li>
                                                    <div class="avatar-card">
                                                        <img src="image/sp-roberto%20cavalli/5df3c55fe426a.png" alt="Avatar">
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
