<div class="d-region-gallery">
    <div class="d-region-gallery-asset" style="height: calc(var(--top-value) * 4)">
        <div class="d-gallery-content height-1 instagram" style="top: 0; left: calc(100%/3*0)">
            <div class="d-gallery-item">
                <div class="d-gallery-img-1"></div>
            </div>
        </div>
        <div class="d-gallery-content height-2 instagram" style="top: 0; left: calc(100%/3*1)">
            <div class="d-gallery-item">
                <div class="d-gallery-img-2"></div>
            </div>
        </div>
        <div class="d-gallery-content height-1 instagram" style="top: 0; left: calc(100%/3*2)">
            <div class="d-gallery-item">
                <div class="d-gallery-img-3"></div>
            </div>
        </div>
        <div class="d-gallery-content height-1 instagram" style="top: var(--top-value); left: calc(100%/3*0)">
            <div class="d-gallery-item">
                <div class="d-gallery-img-4"></div>
            </div>
        </div>
        <div class="d-gallery-content height-1 instagram" style="top: var(--top-value); left: calc(100%/3*2)">
            <div class="d-gallery-item">
                <div class="d-gallery-img-5"></div>
            </div>
        </div>
        <div class="d-gallery-content height-1 instagram" style="top: calc(var(--top-value) * 2); left: calc(100%/3*0)">
            <div class="d-gallery-item">
                <div class="d-gallery-img-6"></div>
            </div>
        </div>
        <div class="d-gallery-content height-1 instagram" style="top: calc(var(--top-value) * 2); left: calc(100%/3*1)">
            <div class="d-gallery-item">
                <div class="d-gallery-img-7"></div>
            </div>
        </div>
        <div class="d-gallery-content height-2 instagram" style="top: calc(var(--top-value) * 2); left: calc(100%/3*2)">
            <div class="d-gallery-item">
                <div class="d-gallery-img-8"></div>
            </div>
        </div>
        <div class="d-gallery-content height-1 instagram" style="top: calc(var(--top-value) * 3); left: calc(100%/3*0)">
            <div class="d-gallery-item">
                <div class="d-gallery-img-9"></div>
            </div>
        </div>
        <div class="d-gallery-content height-1 instagram" style="top: calc(var(--top-value) * 3); left: calc(100%/3*1)">
            <div class="d-gallery-item">
                <div class="d-gallery-img-10"></div>
            </div>
        </div>
    </div>
    <div class="d-region-button">
        <div class="button-more">View more</div>
    </div>
</div>
